/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f2f7; /* Color de fondo dulce */
}

/* Estilos para el encabezado */
header {
    background-color: #7e57c2; /* Morado */
    color: white;
    text-align: center;
    padding: 40px 0;
}

h1 {
    font-size: 2.5rem;
    font-family: 'cursive';
}

.profession {
    font-size: 1.2rem;
    margin-top: 10px;
    font-style: italic;
}

/* Estilos para el contenido principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Fondo blanco elegante */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilos para las secciones */
section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1c4e9; /* Morado más claro para la separación */
}

h2 {
    font-size: 1.5rem;
    color: #7e57c2; /* Morado */
    font-family: 'cursive';
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #7e57c2; /* Morado */
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Estilos para los enlaces */
a {
    color: #7e57c2; /* Morado */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #5d36a6; /* Morado más oscuro al pasar el ratón */
    text-decoration: underline;
}
